<footer class="py-20">
  <div class="xl:w-2/3 mx-auto grid xl:grid-cols-3 gap-4">
    <div class="">
      <img
        src="assets/images/total-systems-logo.svg"
        alt=""
        width="{{ 100 }}"
        class=""
      />
      <p class="text-4xl font-black my-4">Total Systems Consulting Inc.</p>
      <div
        class="flex items-center space-x-4 font-mono font-bold text-sky-500 my-4"
      >
        <a>Terms and Conditions</a>
        <a>Privacy Policy</a>
      </div>
      <p>All Rights Reserved. 2023.</p>
    </div>
    <div class="xl:col-span-2 text-xl">
      <div class="grid xl:grid-cols-3 gap-2">
        <div>
          <p class="font-bold text-sky-400">Company</p>
          <ul class="space-y-4">
            <li>About</li>
            <li>Team</li>
            <li>Services</li>
            <li>Recruiting</li>
            <li>Contact</li>
          </ul>
        </div>
        <div class="xl:col-span-2">
          <p class="font-bold text-sky-400">Services</p>
          <ul class="space-y-4">
            <li>Project Delivery</li>
            <li>Contract Talent Recruiting</li>
            <li>Technology System Sustainment</li>
            <li>Strategic Consulting</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
