<div class="darkBg text-white py-20 my-20">
  <div class="xl:w-2/3 mx-auto">
    <div
      *ngFor="let content of profilesBlurb"
      class="grid xl:grid-cols-2 gap-4 place-items-center"
    >
      <div>
        <p
          class="uppercase text-sm font-bold my-4 border-l-4 px-4 border-white"
        >
          {{ content.title }}
        </p>
        <p class="text-xl">{{ content.summary }}</p>
      </div>
      <div>
        <img
          src="{{ content.image.asset.url }}"
          alt=""
          width="{{ 600 }}"
          class=""
        />
      </div>
    </div>
  </div>
  <div class="xl:w-2/3 mx-auto">
    <app-candidate-profiles></app-candidate-profiles>
  </div>
</div>
