<div class="xl:w-2/3 mx-auto my-20">
  <div id="one" class="h-72 my-4"></div>
  <div class="grid xl:grid-cols-2 gap-4">
    <div>
      <div id="two" class="h-64"></div>
      <div class="grid xl:grid-cols-2 gap-4 my-4">
        <div id="three" class="h-96"></div>
        <div id="four" class="h-96"></div>
      </div>
    </div>
    <div class="space-y-4 text-2xl">
      <div class="h-52 bg-sky-500 text-white grid place-items-center">
        Our small size is our strength
      </div>
      <div id="five" class="h-52"></div>
      <div class="h-52 bg-sky-500 text-white grid place-items-center">
        We are flexible and creative
      </div>
    </div>
  </div>
  <div class="grid xl:grid-cols-2 gap-4 text-2xl">
    <div class="space-y-4">
      <div
        class="h-52 bg-sky-500 text-white grid place-items-center text-center p-10"
      >
        Execution with A-rated customer satisfaction is necessary for our
        continued success
      </div>
      <div id="six" class="h-52"></div>
      <div
        class="h-52 bg-sky-500 text-white grid place-items-center text-center p-10"
      >
        We operate with the confidence that our demonstrated skills will match
        those of the larger markets to the South
      </div>
    </div>
    <div class="grid gap-4">
      <div id="seven" class="h-64"></div>
      <div class="grid xl:grid-cols-2 gap-4">
        <div id="eight" class="h-96"></div>
        <div id="ten" class="h-96"></div>
      </div>
    </div>
  </div>
</div>
