#one {
  background-image: url("../../../assets/images/vancouver-mj.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
#two {
  background-image: url("../../../assets/images/circuit-small-mj.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#three {
  background-image: url("../../../assets/images/mj-computer-chip.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#four {
  background-image: url("../../../assets/images/female-engineer-mj.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#five {
  background-image: url("../../../assets/images/isometric-building-mj.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#six {
  background-image: url("../../../assets/images/vancouver-2-mj.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#seven {
  background-image: url("../../../assets/images/business-woman-small-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#eight {
  background-image: url("../../../assets/images/vancouver-small-2-mj.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#nine {
  background-image: url("../../../assets/images/vancouver-small-mj.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#ten {
  background-image: url("../../../assets/images/business-woman-small-mj.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
