<div id="connectBg" class="">
  <div class="h-96 grid place-items-center bg-black/60 text-white">
    <div class="grid xl:w-2/3 mx-auto">
      <div class="xl:flex items-center justify-between uppercase">
        <p class="border-l-4 border-white px-4">Connect</p>
      </div>
      <div class="my-4">
        <p class="xl:text-6xl">We're here to help.</p>
        <p class="text-xl xl:w-1/2">
          Providing exception service with modern enterprise technology is our
          top priority.
        </p>
      </div>
      <div>
        <button mat-raised-button class="" color="primary">
          <a href=""> Let's Go </a>
        </button>
      </div>
    </div>
  </div>
</div>
