#connectBg {
  background-image: url("../../../assets/images/idea-mj.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
}
