<mat-tab-group class="xl:w-2/3 mx-auto py-20">
  <mat-tab
    *ngFor="let service of services"
    label="{{ service.name }}"
    class="py-10"
  >
    <div class="grid xl:grid-cols-2 gap-4 mt-10 py-10">
      <div class="grid place-items-center">
        <img
          src="{{ service.thumbnail.asset.url }}"
          alt=""
          width="{{ 500 }}"
          class="shadow-xl"
        />
      </div>
      <div class="grid place-items-center">
        <div>
          <p class="uppercase font-bold">overview</p>
          <p class="text-2xl my-4 text-sky-500">{{ service.name }}</p>
          <p class="leading-8">{{ service.summary }}</p>
          <button mat-raised-button color="accent">
            <a href=""> Learn More </a>
          </button>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
